# using sqlparse to create meta data

## obectives
- impact analysis: understand the impact we have on downstream data assets
- data lineage: full data tracking map of ETL
- currently blocks business glossary

### instructions
- git pull latest

### limitations
- [solevd] when using spaces in tables names with reserved keyworkds, e.g. case in "tableau enc case view"
Have solved this by changing sq_metadata
- COPY TRUNCATE INSERTED not supported yet example (will only pick up CREATE and DROP): /csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql. When not CREATE or DROP then Parent = None
- funny CREATE e.g. in /csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql. : create table nbn_dde_23.temp_IMPT_D_LOCATION_T(like nbn_dde_23.IMPT_D_LOCATION_T);
- [bug] if UNION in statement currently adding select names into table depencies e.g. nbn_dde_23.csa_tmp_incident_event_snapshot_links_v

### how does this work?
- sql files is made up of one to many sql statements
- each sql statments is made up of tokens
- tokens seperate out keyworkds, DML, DDL, names and puncutation ect.

### output
- parent child relationships of every single sql statement in every sql file (can be multiple)
- example:

In [237]:
# example output 
[{'fileName': 'Tableau MTM Glide Path Target View.sql',
  'name': 'Tableau MTM Glide Path Target View',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/tableau_views/Tableau MTM Glide Path Target View.sql',
  'depnd_tables': [],
  'parent': 'nbn_dde_23."Tableau MTM Glide Path Target View"',
  'ddl_type': 'DROP'}]

[{'fileName': 'Tableau MTM Glide Path Target View.sql',
  'name': 'Tableau MTM Glide Path Target View',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/tableau_views/Tableau MTM Glide Path Target View.sql',
  'depnd_tables': [],
  'parent': 'nbn_dde_23."Tableau MTM Glide Path Target View"',
  'ddl_type': 'DROP'}]

# setup

In [238]:
!conda info --envs

# conda environments:
#
base                     /home/davidgriffiths/miniconda3
sqlparse              *  /home/davidgriffiths/miniconda3/envs/sqlparse

In [239]:
import sql_metadata

In [240]:
import re
from typing import List, Tuple, Optional, Dict
import sqlparse

from sqlparse.sql import TokenList
from sqlparse.tokens import Name, Whitespace, Wildcard, Number, Punctuation, DDL

# re built get_query_tokens
need to account for multiple queries in a file

In [241]:
def get_query_tokens(query: str) -> List[sqlparse.sql.Token]:
    """
    daves changes: sqlparse.parse(query) returns a tuple if multiple queries ";" need to handle this
    :type query str
    :rtype: list[{queryNoWithinFile str,  tokens: list[sqlparse.sql.Token]}
    """
    query = sql_metadata.preprocess_query(query)
    parsed = sqlparse.parse(query)

    # handle empty queries (#12)
    if not parsed:
        return []

    queries_list_and_tokens =[]
    n=0
    for qry in parsed:
        tokens = TokenList(qry.tokens).flatten()
        # print([(token.value, token.ttype) for token in tokens])

        dic = {"queryNoWithinFile":n,"tokens":[token for token in tokens if token.ttype is not Whitespace]}
        queries_list_and_tokens.append(dic)
        n = n+1
    return queries_list_and_tokens

# re built get_query_tables
i remvoed the quote removal

In [242]:
def get_query_tables(query: str, dev=False) -> List[str]:
    """
    :type query str
    :rtype: list[str]
    """
    

    table_syntax_keywords = [
        # SELECT queries
        'FROM', 'WHERE', 'JOIN', 'INNER JOIN', 'FULL JOIN', 'FULL OUTER JOIN',
        'LEFT OUTER JOIN', 'RIGHT OUTER JOIN',
        'LEFT JOIN', 'RIGHT JOIN', 'ON',
        # INSERT queries
        'INTO', 'VALUES',
        # UPDATE queries
        'UPDATE', 'SET',
        # Hive queries
        'TABLE',  # INSERT TABLE
        
        
    ]
    
#     print(sql_metadata.get_query_tokens(query))
#     query = query.replace('"', '')
    query = sqlparse.format(query, strip_comments=True).strip()
#     print(query)
    queries_list_and_tokens = get_query_tokens(query)
    
    queries_list_and_tokens_parsed =[]
    
    for query_and_tokens in queries_list_and_tokens:
        parent_table_list = []
        parent_table_counter = 0 # increments to 2 to get schema and table
        tables = []
        last_keyword = None
        last_ddl =None
        keep_last_ddl = None
        
        for index, token in enumerate(query_and_tokens['tokens']):
#             if dev==True: print([token, token.ttype, last_keyword,last_ddl, token.value.upper(),parent_table_counter, last_ddl,parent_table_list])
            if dev==True: print([token, token.ttype, token.value.upper()])
            if token.is_keyword and token.value.upper() in table_syntax_keywords:
                # keep the name of the last keyword, the next one can be a table name
                last_keyword = token.value.upper()
#                 print('keyword', last_keyword)
            elif str(token.ttype) == 'Token.Keyword.DDL':
                # keep the name of the last create, the next one can be annother table to create
                last_ddl = token.value.upper()
                keep_last_ddl= token.value.upper()
#                 print('keyword.lld', token.value.upper())
            elif str(token) == '(':
                # reset the last_keyword for INSERT `foo` VALUES(id, bar) ...
                last_keyword = None
            elif token.is_keyword and str(token) in ['FORCE', 'ORDER', 'GROUP BY']:
                # reset the last_keyword for queries like:
                # "SELECT x FORCE INDEX"
                # "SELECT x ORDER BY"
                # "SELECT x FROM y GROUP BY x"
                last_keyword = None
            elif token.is_keyword and str(token) == 'SELECT' and last_keyword in ['INTO', 'TABLE']:
                # reset the last_keyword for "INSERT INTO SELECT" and "INSERT TABLE SELECT" queries
                last_keyword = None
#             elif (token.ttype is Name or str(token.ttype) == 'Token.Literal.String.Symbol') and last_ddl in ['CREATE','DROP']:
            elif (token.ttype is Name or str(token.ttype) == 'Token.Literal.String.Symbol') and last_ddl != None:
#                 print("found a CREATE or DROP")
                parent_table_list.append(str(token))
                parent_table_counter = parent_table_counter + 1
                if parent_table_counter > 1:
                    last_ddl = None
                    parent_table_counter = 0
#                 parent_table = sql_metadata._update_table_names(tables, query_and_tokens['tokens'], index, last_keyword)
            elif token.ttype is Name or token.ttype or token.is_keyword:
                tables = sql_metadata._update_table_names(tables, query_and_tokens['tokens'], index, last_keyword)
        unique_tables = sql_metadata.unique(tables)
        dic = {
            "queryNoWithinFile": query_and_tokens['queryNoWithinFile'],
            "tables": unique_tables,
            "parent_table": '.'.join(parent_table_list),
            "ddl_type": keep_last_ddl
        }
        queries_list_and_tokens_parsed.append(dic)

    return queries_list_and_tokens_parsed

# working with multiple files

In [243]:
import os
from os import path
from pathlib import Path

# get all sql files

In [244]:
files = os.listdir()

In [245]:
files_filtered = list(filter(lambda x: re.search(r"^.*\.(sql)$", x), files))

# get all sql view depedncies

### get all files in RAPID

In [246]:
rapid_dirs = ['']  # ['nbn_dde_23']  # ['nbn_dde_23/load/batches'] # ['nbn_dde_23/tableau_views'] # ['tableau_dde/transform/views'] # ['nbn_dde_23/tableau_views','tableau_dde/transform/views']

In [247]:
rapid_files = []
for rapid_dir in rapid_dirs:
    for dirpath, dirname, filenames in os.walk(os.path.join('/home/davidgriffiths/csaa-aws-data-capability',rapid_dir)):
        for file in filenames:
            file_dict = {
                "fileName": file,
                "path": os.path.join(dirpath,file),
            }
            rapid_files.append(file_dict)
# # look at one file
# rapid_files = [{'fileName': 'csa_tmp_incident_event_snapshot_links_v.sql','path': os.path.join('/home/davidgriffiths/csaa-aws-data-capability','nbn_dde_23/transform/views/csa_tmp_incident_event_snapshot_links_v.sql')}]
rapid_files[0:3]

[{'fileName': '.gitignore',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/.gitignore'},
 {'fileName': 'amazons.redshift.cfn.yaml',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/amazons.redshift.cfn.yaml'},
 {'fileName': '.gitattributes',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/.gitattributes'}]

### keep only .sql files

In [248]:
rapid_files_filtered = list(filter(lambda x: re.search(r"^.*\.(sql)$", x['fileName']), rapid_files))
rapid_files_filtered[0:5]

[{'fileName': 'create Schema.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/create Schema.sql'},
 {'fileName': 'step3_calc_metrics.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/neto_dde/transform/batches/step3_calc_metrics.sql'},
 {'fileName': 'calc_fw_poc_1_t.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/neto_dde/transform/batches/calc_fw_poc_1_t.sql'},
 {'fileName': 'calc_fttx_poc_detail.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/neto_dde/transform/batches/calc_fttx_poc_detail.sql'},
 {'fileName': 'calc_fw_poc_3_t.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/neto_dde/transform/batches/calc_fw_poc_3_t.sql'}]

## loop through files

In [249]:
def addQuotes(item):
    if isinstance(item, str) and len(item) > 0:
        if item[0] =="\"":
            return item
        return f"\"{item}\""
    return item

In [250]:
# example
parent_example = '"nbn_dde_23".temp_IMPT_D_LOCATION_T'

addQuotes(parent_example.split('.')[0])

example_map = map(addQuotes, parent_example.split('.'))
'.'.join(list(example_map))

'"nbn_dde_23"."temp_IMPT_D_LOCATION_T"'

In [251]:
list_of_rapid_sql_views = []

def map_over_shema_table(item):
    if item == '' or item == None: return
    return '.'.join(list(map(addQuotes, item.split('.'))))

for file in rapid_files_filtered:
    with open(file['path'], 'r') as f:
        query = f.read()
        queries_and_tables = get_query_tables(query,False)
    
        for qry in queries_and_tables:
            
            dic = {
                'fileName': file['fileName'],
                'name': os.path.splitext(file['fileName'])[0],
                'path': file['path'].replace("/home/davidgriffiths", ""),
#                 'depnd_tables': qry['tables'],
                'depnd_tables': list(map(map_over_shema_table,qry['tables'])),
#                 'parent': qry["parent_table"],
#                 'parent': '.'.join(list(map(addQuotes, qry["parent_table"].split('.')))),
                'parent': map_over_shema_table(qry["parent_table"]),
                'ddl_type': qry['ddl_type']
            }

            list_of_rapid_sql_views.append(dic) 
        

list_of_rapid_sql_views[0:5]

[{'fileName': 'step3_calc_metrics.sql',
  'name': 'step3_calc_metrics',
  'path': '/csaa-aws-data-capability/neto_dde/transform/batches/step3_calc_metrics.sql',
  'depnd_tables': ['"if"'],
  'parent': '"neto_dde"."tmp_id_link_t"',
  'ddl_type': 'DROP'},
 {'fileName': 'step3_calc_metrics.sql',
  'name': 'step3_calc_metrics',
  'path': '/csaa-aws-data-capability/neto_dde/transform/batches/step3_calc_metrics.sql',
  'depnd_tables': ['"neto_dde"."id_link_v"', '"RS_UNIQUE_HASH"'],
  'parent': '"neto_dde"."tmp_id_link_t"',
  'ddl_type': 'CREATE'},
 {'fileName': 'step3_calc_metrics.sql',
  'name': 'step3_calc_metrics',
  'path': '/csaa-aws-data-capability/neto_dde/transform/batches/step3_calc_metrics.sql',
  'depnd_tables': ['"if"'],
  'parent': '"neto_dde"."id_link_t"',
  'ddl_type': 'DROP'},
 {'fileName': 'step3_calc_metrics.sql',
  'name': 'step3_calc_metrics',
  'path': '/csaa-aws-data-capability/neto_dde/transform/batches/step3_calc_metrics.sql',
  'depnd_tables': [],
  'parent': '"neto_dde"."tmp_id_link_t"',
  'ddl_type': 'ALTER'},
 {'fileName': 'step3_calc_metrics.sql',
  'name': 'step3_calc_metrics',
  'path': '/csaa-aws-data-capability/neto_dde/transform/batches/step3_calc_metrics.sql',
  'depnd_tables': ['"if"'],
  'parent': '"neto_dde"."tmp_calc_hfc_p2_3_t"',
  'ddl_type': 'DROP'}]

# write out as JSON

In [252]:
import json

In [253]:
# # loads json from string
# datajsonstr=json.loads('{"str":"str"}')
# datajsonstr

In [254]:
# stringify = json.dumps(list_of_rapid_sql_views, indent=2)
# stringify

In [255]:
# with open('jsonfile.json') as f:
#     data = json.load(f)

In [256]:
with open('list_of_rapid_sql_views.json','w') as f:
    json.dump(list_of_rapid_sql_views, f)

# test out funny files

In [257]:
filenamedave = '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/tableau_views/Tableau Incident WO Links View.sql'

In [258]:
with open(filenamedave, 'r') as f:
        query = f.read()
#         print(query)
        tables = get_query_tables(query)
        print(tables)

[{'queryNoWithinFile': 0, 'tables': [], 'parent_table': 'nbn_dde_23."Tableau Incident WO Links View"', 'ddl_type': 'DROP'}, {'queryNoWithinFile': 1, 'tables': ['nbn_dde_23.CSA_INCIDENT_LINKS_WO_T'], 'parent_table': 'nbn_dde_23."Tableau Incident WO Links View"', 'ddl_type': 'CREATE  OR REPLACE'}]

# problem sqlparse.parse doesnt do multiple queries

In [259]:
with open(filenamedave, 'r') as f:
        query = f.read()
#         print(query)
#         tables = get_query_tables(query)
#         print(tables)

        # is parsing within sql_metadata.get_query_tokens working
#         res = sqlparse.parse(query)
#         print(res[1]) ##  this second query isnt getting picked up
        
        print(get_query_tokens(query))

[{'queryNoWithinFile': 0, 'tokens': [<DDL 'drop' at 0x7F39DB2D3468>, <Keyword 'view' at 0x7F39EC441E88>, <Keyword 'if' at 0x7F39EC830BE8>, <Keyword 'exists' at 0x7F39EC8309A8>, <Name 'nbn_dd...' at 0x7F39EC8301C8>, <Punctuation '.' at 0x7F39EC830168>, <Symbol '"Table...' at 0x7F39ECA12588>, <Punctuation ';' at 0x7F39ECA125E8>]}, {'queryNoWithinFile': 1, 'tokens': [<DDL 'CREATE...' at 0x7F39EC105E28>, <Keyword 'VIEW' at 0x7F39EC105BE8>, <Name 'nbn_dd...' at 0x7F39EC105C48>, <Punctuation '.' at 0x7F39EC105A68>, <Symbol '"Table...' at 0x7F39EC105528>, <Keyword 'AS' at 0x7F39EE72E468>, <DML 'SELECT' at 0x7F39EE72EA08>, <Name 'INC_WO...' at 0x7F39EE72E408>, <Punctuation ',' at 0x7F39EE72EE88>, <Name 'INCIDE...' at 0x7F39EE72E0A8>, <Punctuation ',' at 0x7F39EE72E228>, <Name 'APPOIN...' at 0x7F39ECBD2768>, <Punctuation ',' at 0x7F39ECBD2C48>, <Name 'WORK_R...' at 0x7F39ECBD26A8>, <Punctuation ',' at 0x7F39ECAB5FA8>, <Name 'WORK_O...' at 0x7F39ECAB5F48>, <Punctuation ',' at 0x7F39ECD0C0A8>, <Name 'PRI_ID...' at 0x7F39ECD0CEE8>, <Punctuation ',' at 0x7F39ECD0CE28>, <Name 'PRI_KE...' at 0x7F39ECD0C648>, <Punctuation ',' at 0x7F39EC60BB88>, <Name 'DQ_COM...' at 0x7F39EC60BEE8>, <Keyword 'as' at 0x7F39EC60B108>, <Symbol '"Data ...' at 0x7F39EC60B6A8>, <Punctuation ',' at 0x7F39DA40F528>, <Name 'LOCATI...' at 0x7F39DA40FF48>, <Punctuation ',' at 0x7F39DA40F7C8>, <Name 'APPOIN...' at 0x7F39DA40F2E8>, <Punctuation ',' at 0x7F39DA40FBE8>, <Name 'EXC_1_...' at 0x7F39DAB980A8>, <Keyword 'as' at 0x7F39DAB987C8>, <Symbol '"Exclu...' at 0x7F39DAB98768>, <Punctuation ',' at 0x7F39DAB98708>, <Name 'EXC_2_...' at 0x7F39DAB98E88>, <Keyword 'as' at 0x7F39DAB98588>, <Symbol '"Exclu...' at 0x7F39DAB98F48>, <Punctuation ',' at 0x7F39DAB98888>, <Name 'EXC_3_...' at 0x7F39DAB98FA8>, <Keyword 'as' at 0x7F39DAB986A8>, <Symbol '"Exclu...' at 0x7F39DAB98B88>, <Punctuation ',' at 0x7F39DA19E2E8>, <Name 'EXC_4_...' at 0x7F39DA19EDC8>, <Keyword 'as' at 0x7F39DA19E768>, <Symbol '"Exclu...' at 0x7F39DA19E228>, <Punctuation ',' at 0x7F39DA19E7C8>, <Name 'EXC_5_...' at 0x7F39DA19E528>, <Keyword 'as' at 0x7F39DA19E948>, <Symbol '"Exclu...' at 0x7F39DA19E348>, <Punctuation ',' at 0x7F39DA19EB88>, <Name 'EXC_6_...' at 0x7F39DA19EE88>, <Keyword 'as' at 0x7F39EE6F6528>, <Symbol '"Exclu...' at 0x7F39EE6F6468>, <Punctuation ',' at 0x7F39EE6F61C8>, <Name 'EXC_7_...' at 0x7F39EE6F6FA8>, <Keyword 'as' at 0x7F39EE6F6D68>, <Symbol '"Exclu...' at 0x7F39EE6F67C8>, <Punctuation ',' at 0x7F39EE6F6BE8>, <Name 'EXC_8_...' at 0x7F39EE6F6B88>, <Keyword 'as' at 0x7F39EE6F6DC8>, <Symbol '"Exclu...' at 0x7F39EE6F6708>, <Punctuation ',' at 0x7F39DABCDAC8>, <Name 'EXC_9_...' at 0x7F39DABCDEE8>, <Keyword 'as' at 0x7F39DABCD228>, <Symbol '"Exclu...' at 0x7F39DABCD108>, <Punctuation ',' at 0x7F39DABCDD68>, <Name 'EXC_10...' at 0x7F39DABCDFA8>, <Keyword 'as' at 0x7F39DABCD9A8>, <Symbol '"Exclu...' at 0x7F39DABCD0A8>, <Punctuation ',' at 0x7F39ECDEC8E8>, <Name 'Exc_11...' at 0x7F39ECDECB88>, <Keyword 'as' at 0x7F39ECDECA68>, <Symbol '"Exclu...' at 0x7F39ECDEC768>, <Punctuation ',' at 0x7F39ECB6EE28>, <Name 'EXC_12...' at 0x7F39ECB6E768>, <Keyword 'as' at 0x7F39ECB6E468>, <Symbol '"Exclu...' at 0x7F39ECB6E828>, <Punctuation ',' at 0x7F39ECB6E408>, <Name 'Exc_13...' at 0x7F39ECB6E108>, <Keyword 'as' at 0x7F39ECB6E528>, <Symbol '"Exclu...' at 0x7F39ECB6E168>, <Single '--Deep...' at 0x7F39ECB6EFA8>]}]