# using sqlparse to create meta data

### instructions
- git pull latest

### limitations
- [solevd] when using spaces in tables names with reserved keyworkds, e.g. case in "tableau enc case view"
Have solved this by changing sq_metadata
- COPY TRUNCATE INSERTED not supported yet example (will only pick up CREATE and DROP): /csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql. When not CREATE or DROP then Parent = None
- funny CREATE e.g. in /csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql. : create table nbn_dde_23.temp_IMPT_D_LOCATION_T(like nbn_dde_23.IMPT_D_LOCATION_T);

### how does this work?
- sql files is made up of one to many sql statements
- each sql statments is made up of tokens
- tokens seperate out keyworkds, DML, DDL, names and puncutation ect.

### output
- parent child relationships of every single sql statement in every sql file (can be multiple)
- example:

In [124]:
# example output 
[{'fileName': 'Tableau MTM Glide Path Target View.sql',
  'name': 'Tableau MTM Glide Path Target View',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/tableau_views/Tableau MTM Glide Path Target View.sql',
  'depnd_tables': [],
  'parent': 'nbn_dde_23."Tableau MTM Glide Path Target View"',
  'ddl_type': 'DROP'}]

[{'fileName': 'Tableau MTM Glide Path Target View.sql',
  'name': 'Tableau MTM Glide Path Target View',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/tableau_views/Tableau MTM Glide Path Target View.sql',
  'depnd_tables': [],
  'parent': 'nbn_dde_23."Tableau MTM Glide Path Target View"',
  'ddl_type': 'DROP'}]

# setup

In [125]:
!conda info --envs

# conda environments:
#
base                     /home/davidgriffiths/miniconda3
sqlparse              *  /home/davidgriffiths/miniconda3/envs/sqlparse

In [126]:
import sql_metadata

In [127]:
import re
from typing import List, Tuple, Optional, Dict
import sqlparse

from sqlparse.sql import TokenList
from sqlparse.tokens import Name, Whitespace, Wildcard, Number, Punctuation, DDL

# re built get_query_tokens
need to account for multiple queries in a file

In [128]:
def get_query_tokens(query: str) -> List[sqlparse.sql.Token]:
    """
    daves changes: sqlparse.parse(query) returns a tuple if multiple queries ";" need to handle this
    :type query str
    :rtype: list[{queryNoWithinFile str,  tokens: list[sqlparse.sql.Token]}
    """
    query = sql_metadata.preprocess_query(query)
    parsed = sqlparse.parse(query)

    # handle empty queries (#12)
    if not parsed:
        return []

    queries_list_and_tokens =[]
    n=0
    for qry in parsed:
        tokens = TokenList(qry.tokens).flatten()
        # print([(token.value, token.ttype) for token in tokens])

        dic = {"queryNoWithinFile":n,"tokens":[token for token in tokens if token.ttype is not Whitespace]}
        queries_list_and_tokens.append(dic)
        n = n+1
    return queries_list_and_tokens

# re built get_query_tables
i remvoed the quote removal

In [129]:
def get_query_tables(query: str, dev=False) -> List[str]:
    """
    :type query str
    :rtype: list[str]
    """
    

    table_syntax_keywords = [
        # SELECT queries
        'FROM', 'WHERE', 'JOIN', 'INNER JOIN', 'FULL JOIN', 'FULL OUTER JOIN',
        'LEFT OUTER JOIN', 'RIGHT OUTER JOIN',
        'LEFT JOIN', 'RIGHT JOIN', 'ON',
        # INSERT queries
        'INTO', 'VALUES',
        # UPDATE queries
        'UPDATE', 'SET',
        # Hive queries
        'TABLE',  # INSERT TABLE
        
        
    ]
    
#     print(sql_metadata.get_query_tokens(query))
#     query = query.replace('"', '')
    query = sqlparse.format(query, strip_comments=True).strip()
#     print(query)
    queries_list_and_tokens = get_query_tokens(query)
    
    queries_list_and_tokens_parsed =[]
    
    for query_and_tokens in queries_list_and_tokens:
        parent_table_list = []
        parent_table_counter = 0 # increments to 2 to get schema and table
        tables = []
        last_keyword = None
        last_ddl =None
        keep_last_ddl = None
        
        for index, token in enumerate(query_and_tokens['tokens']):
            if dev==True: print([token, token.ttype, last_keyword,last_ddl, token.value.upper(),parent_table_counter, last_ddl,parent_table_list])
            if token.is_keyword and token.value.upper() in table_syntax_keywords:
                # keep the name of the last keyword, the next one can be a table name
                last_keyword = token.value.upper()
#                 print('keyword', last_keyword)
            elif str(token.ttype) == 'Token.Keyword.DDL':
                # keep the name of the last create, the next one can be annother table to create
                last_ddl = token.value.upper()
                keep_last_ddl= token.value.upper()
#                 print('keyword.lld', token.value.upper())
            elif str(token) == '(':
                # reset the last_keyword for INSERT `foo` VALUES(id, bar) ...
                last_keyword = None
            elif token.is_keyword and str(token) in ['FORCE', 'ORDER', 'GROUP BY']:
                # reset the last_keyword for queries like:
                # "SELECT x FORCE INDEX"
                # "SELECT x ORDER BY"
                # "SELECT x FROM y GROUP BY x"
                last_keyword = None
            elif token.is_keyword and str(token) == 'SELECT' and last_keyword in ['INTO', 'TABLE']:
                # reset the last_keyword for "INSERT INTO SELECT" and "INSERT TABLE SELECT" queries
                last_keyword = None
#             elif (token.ttype is Name or str(token.ttype) == 'Token.Literal.String.Symbol') and last_ddl in ['CREATE','DROP']:
            elif (token.ttype is Name or str(token.ttype) == 'Token.Literal.String.Symbol') and last_ddl != None:
#                 print("found a CREATE or DROP")
                parent_table_list.append(str(token))
                parent_table_counter = parent_table_counter + 1
                if parent_table_counter > 1:
                    last_ddl = None
                    parent_table_counter = 0
#                 parent_table = sql_metadata._update_table_names(tables, query_and_tokens['tokens'], index, last_keyword)
            elif token.ttype is Name or token.ttype or token.is_keyword:
                tables = sql_metadata._update_table_names(tables, query_and_tokens['tokens'], index, last_keyword)
        unique_tables = sql_metadata.unique(tables)
        dic = {
            "queryNoWithinFile": query_and_tokens['queryNoWithinFile'],
            "tables": unique_tables,
            "parent_table": '.'.join(parent_table_list),
            "ddl_type": keep_last_ddl
        }
        queries_list_and_tokens_parsed.append(dic)

    return queries_list_and_tokens_parsed

# working with multiple files

In [130]:
import os
from os import path
from pathlib import Path

# get all sql files

In [131]:
files = os.listdir()

In [132]:
files_filtered = list(filter(lambda x: re.search(r"^.*\.(sql)$", x), files))

# get all sql view depedncies

### get all files in RAPID

In [133]:
rapid_dirs =  ['nbn_dde_23/load/batches'] # ['nbn_dde_23/tableau_views'] # ['tableau_dde/transform/views'] # ['nbn_dde_23/tableau_views','tableau_dde/transform/views']

In [134]:
rapid_files = []
for rapid_dir in rapid_dirs:
    for dirpath, dirname, filenames in os.walk(os.path.join('/home/davidgriffiths/csaa-aws-data-capability',rapid_dir)):
    #     print('Current path:', dirpath)
    #     print('Directories:', dirname)
    #     print('Files:', filenames)
        for file in filenames:
            file_dict = {
                "fileName": file,
                "path": os.path.join(dirpath,file),
            }
            rapid_files.append(file_dict)
rapid_files[0:3]

[{'fileName': 'd_location-rs_full_load.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql'},
 {'fileName': 'ful_nhur_v-rs_delta_load.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/load/batches/ful_nhur_v-rs_delta_load.sql'},
 {'fileName': 'td_initial_aged_incident_snapshot-rs_full_load.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/load/batches/td_initial_aged_incident_snapshot-rs_full_load.sql'}]

### keep only .sql files

In [135]:
rapid_files_filtered = list(filter(lambda x: re.search(r"^.*\.(sql)$", x['fileName']), rapid_files))
rapid_files_filtered[0:5]

[{'fileName': 'd_location-rs_full_load.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql'},
 {'fileName': 'ful_nhur_v-rs_delta_load.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/load/batches/ful_nhur_v-rs_delta_load.sql'},
 {'fileName': 'td_initial_aged_incident_snapshot-rs_full_load.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/load/batches/td_initial_aged_incident_snapshot-rs_full_load.sql'},
 {'fileName': 'cc_hwm_max_nbnquotacapview_v-rs_delta_load.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/load/batches/cc_hwm_max_nbnquotacapview_v-rs_delta_load.sql'},
 {'fileName': 'a_ful_order_item_v-rs_delta_load.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/load/batches/a_ful_order_item_v-rs_delta_load.sql'}]

## loop through files

In [136]:
def addQuotes(item):
    if isinstance(item, str) and len(item) > 0:
        if item[0] =="\"":
            return item
        return f"\"{item}\""
    return item

In [137]:
# example
parent_example = '"nbn_dde_23".temp_IMPT_D_LOCATION_T'

addQuotes(parent_example.split('.')[0])

example_map = map(addQuotes, parent_example.split('.'))
'.'.join(list(example_map))

'"nbn_dde_23"."temp_IMPT_D_LOCATION_T"'

In [148]:
list_of_rapid_sql_views = []

def map_over_shema_table(item):
    if item == '' or item == None: return
    return '.'.join(list(map(addQuotes, item.split('.'))))

for file in rapid_files_filtered[0:1]:
    with open(file['path'], 'r') as f:
        query = f.read()
        queries_and_tables = get_query_tables(query,False)
    
        for qry in queries_and_tables:
            
            dic = {
                'fileName': file['fileName'],
                'name': os.path.splitext(file['fileName'])[0],
                'path': file['path'].replace("/home/davidgriffiths", ""),
#                 'depnd_tables': qry['tables'],
                'depnd_tables': list(map(map_over_shema_table,qry['tables'])),
#                 'parent': qry["parent_table"],
#                 'parent': '.'.join(list(map(addQuotes, qry["parent_table"].split('.')))),
                'parent': map_over_shema_table(qry["parent_table"]),
                'ddl_type': qry['ddl_type']
            }

            list_of_rapid_sql_views.append(dic) 
        

list_of_rapid_sql_views

[{'fileName': 'd_location-rs_full_load.sql',
  'name': 'd_location-rs_full_load',
  'path': '/csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql',
  'depnd_tables': ['"nbn_dde_23"."IMPT_D_LOCATION_T"'],
  'parent': None,
  'ddl_type': None},
 {'fileName': 'd_location-rs_full_load.sql',
  'name': 'd_location-rs_full_load',
  'path': '/csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql',
  'depnd_tables': ['"\'s3://csaa-redshift-ingest-pr/historical/d_location"."manifest\'"'],
  'parent': None,
  'ddl_type': None},
 {'fileName': 'd_location-rs_full_load.sql',
  'name': 'd_location-rs_full_load',
  'path': '/csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql',
  'depnd_tables': ['"nbn_dde_23"."IMPT_D_LOCATION_T"'],
  'parent': None,
  'ddl_type': None},
 {'fileName': 'd_location-rs_full_load.sql',
  'name': 'd_location-rs_full_load',
  'path': '/csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql',
  'depnd_tables': ['"if"'],
  'parent': '"nbn_dde_23"."temp_IMPT_D_LOCATION_T"',
  'ddl_type': 'DROP'},
 {'fileName': 'd_location-rs_full_load.sql',
  'name': 'd_location-rs_full_load',
  'path': '/csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql',
  'depnd_tables': [],
  'parent': '"nbn_dde_23"."temp_IMPT_D_LOCATION_T"',
  'ddl_type': 'CREATE'},
 {'fileName': 'd_location-rs_full_load.sql',
  'name': 'd_location-rs_full_load',
  'path': '/csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql',
  'depnd_tables': ['"nbn_dde_23"."temp_IMPT_D_LOCATION_T"',
   '"nbn_dde_23"."IMPT_D_LOCATION_V"'],
  'parent': None,
  'ddl_type': None},
 {'fileName': 'd_location-rs_full_load.sql',
  'name': 'd_location-rs_full_load',
  'path': '/csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql',
  'depnd_tables': [],
  'parent': None,
  'ddl_type': None},
 {'fileName': 'd_location-rs_full_load.sql',
  'name': 'd_location-rs_full_load',
  'path': '/csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql',
  'depnd_tables': ['"if"'],
  'parent': '"nbn_dde_23"."temp_d_location_t"',
  'ddl_type': 'DROP'},
 {'fileName': 'd_location-rs_full_load.sql',
  'name': 'd_location-rs_full_load',
  'path': '/csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql',
  'depnd_tables': ['"nbn_dde_23"."d_location_v"'],
  'parent': '"nbn_dde_23"."temp_d_location_t"',
  'ddl_type': 'CREATE'},
 {'fileName': 'd_location-rs_full_load.sql',
  'name': 'd_location-rs_full_load',
  'path': '/csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql',
  'depnd_tables': ['"if"'],
  'parent': '"nbn_dde_23"."D_LOCATION"',
  'ddl_type': 'DROP'},
 {'fileName': 'd_location-rs_full_load.sql',
  'name': 'd_location-rs_full_load',
  'path': '/csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql',
  'depnd_tables': [],
  'parent': '"nbn_dde_23"."temp_d_location_t"',
  'ddl_type': 'ALTER'},
 {'fileName': 'd_location-rs_full_load.sql',
  'name': 'd_location-rs_full_load',
  'path': '/csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql',
  'depnd_tables': ['"nbn_dde_23"."D_LOCATION"'],
  'parent': None,
  'ddl_type': None}]

# write out as JSON

In [139]:
import json

In [140]:
# # loads json from string
# datajsonstr=json.loads('{"str":"str"}')
# datajsonstr

In [141]:
# stringify = json.dumps(list_of_rapid_sql_views, indent=2)
# stringify

In [142]:
# with open('jsonfile.json') as f:
#     data = json.load(f)

In [143]:
with open('list_of_rapid_sql_views.json','w') as f:
    json.dump(list_of_rapid_sql_views, f)

# test out funny files

In [144]:
filenamedave = '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/tableau_views/Tableau Incident WO Links View.sql'

In [145]:
with open(filenamedave, 'r') as f:
        query = f.read()
#         print(query)
        tables = get_query_tables(query)
        print(tables)

[{'queryNoWithinFile': 0, 'tables': [], 'parent_table': 'nbn_dde_23."Tableau Incident WO Links View"', 'ddl_type': 'DROP'}, {'queryNoWithinFile': 1, 'tables': ['nbn_dde_23.CSA_INCIDENT_LINKS_WO_T'], 'parent_table': 'nbn_dde_23."Tableau Incident WO Links View"', 'ddl_type': 'CREATE  OR REPLACE'}]

# problem sqlparse.parse doesnt do multiple queries

In [146]:
with open(filenamedave, 'r') as f:
        query = f.read()
#         print(query)
#         tables = get_query_tables(query)
#         print(tables)

        # is parsing within sql_metadata.get_query_tokens working
#         res = sqlparse.parse(query)
#         print(res[1]) ##  this second query isnt getting picked up
        
        print(get_query_tokens(query))

[{'queryNoWithinFile': 0, 'tokens': [<DDL 'drop' at 0x7F4A0FC00168>, <Keyword 'view' at 0x7F4A0FC006A8>, <Keyword 'if' at 0x7F4A0FC00108>, <Keyword 'exists' at 0x7F4A2C056FA8>, <Name 'nbn_dd...' at 0x7F4A247ACAC8>, <Punctuation '.' at 0x7F4A247ACB28>, <Symbol '"Table...' at 0x7F4A2C060168>, <Punctuation ';' at 0x7F4A2C0601C8>]}, {'queryNoWithinFile': 1, 'tokens': [<DDL 'CREATE...' at 0x7F4A2C060288>, <Keyword 'VIEW' at 0x7F4A2C060B28>, <Name 'nbn_dd...' at 0x7F4A2C060A68>, <Punctuation '.' at 0x7F4A2C060A08>, <Symbol '"Table...' at 0x7F4A2C060828>, <Keyword 'AS' at 0x7F4A2C060768>, <DML 'SELECT' at 0x7F4A2C060708>, <Name 'INC_WO...' at 0x7F4A2C0604C8>, <Punctuation ',' at 0x7F4A2C060B88>, <Name 'INCIDE...' at 0x7F4A2C060F48>, <Punctuation ',' at 0x7F4A2C0401C8>, <Name 'APPOIN...' at 0x7F4A2C0405E8>, <Punctuation ',' at 0x7F4A2C040D08>, <Name 'WORK_R...' at 0x7F4A0FB291C8>, <Punctuation ',' at 0x7F4A0FB29528>, <Name 'WORK_O...' at 0x7F4A0FB29408>, <Punctuation ',' at 0x7F4A2C08C228>, <Name 'PRI_ID...' at 0x7F4A0FC236A8>, <Punctuation ',' at 0x7F4A0FC23948>, <Name 'PRI_KE...' at 0x7F4A0FC23A08>, <Punctuation ',' at 0x7F4A0FC23D68>, <Name 'DQ_COM...' at 0x7F4A0FC23E28>, <Keyword 'as' at 0x7F4A0FC23EE8>, <Symbol '"Data ...' at 0x7F4A0FC23FA8>, <Punctuation ',' at 0x7F4A24791348>, <Name 'LOCATI...' at 0x7F4A24791408>, <Punctuation ',' at 0x7F4A24791768>, <Name 'APPOIN...' at 0x7F4A24791828>, <Punctuation ',' at 0x7F4A24791AC8>, <Name 'EXC_1_...' at 0x7F4A24791B88>, <Keyword 'as' at 0x7F4A24791C48>, <Symbol '"Exclu...' at 0x7F4A24791D08>, <Punctuation ',' at 0x7F4A0FC090A8>, <Name 'EXC_2_...' at 0x7F4A0FC09168>, <Keyword 'as' at 0x7F4A0FC09228>, <Symbol '"Exclu...' at 0x7F4A0FC092E8>, <Punctuation ',' at 0x7F4A0FC09648>, <Name 'EXC_3_...' at 0x7F4A0FC09708>, <Keyword 'as' at 0x7F4A0FC097C8>, <Symbol '"Exclu...' at 0x7F4A0FC09888>, <Punctuation ',' at 0x7F4A0FC09BE8>, <Name 'EXC_4_...' at 0x7F4A0FC09CA8>, <Keyword 'as' at 0x7F4A0FC09D68>, <Symbol '"Exclu...' at 0x7F4A0FC09E28>, <Punctuation ',' at 0x7F4A0FC2B1C8>, <Name 'EXC_5_...' at 0x7F4A0FC2B288>, <Keyword 'as' at 0x7F4A0FC2B348>, <Symbol '"Exclu...' at 0x7F4A0FC2B408>, <Punctuation ',' at 0x7F4A0FC2B768>, <Name 'EXC_6_...' at 0x7F4A0FC2B828>, <Keyword 'as' at 0x7F4A0FC2B8E8>, <Symbol '"Exclu...' at 0x7F4A0FC2B9A8>, <Punctuation ',' at 0x7F4A0FC2BD08>, <Name 'EXC_7_...' at 0x7F4A0FC2BDC8>, <Keyword 'as' at 0x7F4A0FC2BE88>, <Symbol '"Exclu...' at 0x7F4A0FC2BF48>, <Punctuation ',' at 0x7F4A0FC0F2E8>, <Name 'EXC_8_...' at 0x7F4A0FC0F3A8>, <Keyword 'as' at 0x7F4A0FC0F468>, <Symbol '"Exclu...' at 0x7F4A0FC0F528>, <Punctuation ',' at 0x7F4A0FC0F888>, <Name 'EXC_9_...' at 0x7F4A0FC0F948>, <Keyword 'as' at 0x7F4A0FC0FA08>, <Symbol '"Exclu...' at 0x7F4A0FC0FAC8>, <Punctuation ',' at 0x7F4A0FC0FE28>, <Name 'EXC_10...' at 0x7F4A0FC0FEE8>, <Keyword 'as' at 0x7F4A0FC0FFA8>, <Symbol '"Exclu...' at 0x7F4A0FC390A8>, <Punctuation ',' at 0x7F4A0FC392E8>, <Name 'Exc_11...' at 0x7F4A0FC393A8>, <Keyword 'as' at 0x7F4A0FC39468>, <Symbol '"Exclu...' at 0x7F4A0FC39528>, <Punctuation ',' at 0x7F4A0FC39768>, <Name 'EXC_12...' at 0x7F4A0FC39828>, <Keyword 'as' at 0x7F4A0FC398E8>, <Symbol '"Exclu...' at 0x7F4A0FC399A8>, <Punctuation ',' at 0x7F4A0FC39BE8>, <Name 'Exc_13...' at 0x7F4A0FC39CA8>, <Keyword 'as' at 0x7F4A0FC39D68>, <Symbol '"Exclu...' at 0x7F4A0FC39E28>, <Single '--Deep...' at 0x7F4A0FC05108>]}]