# using sqlparse to create meta data
limitations
- when using spaces in tables names with reserved keyworkds, e.g. case in "tableau enc case view"

Have solved this by changing sq_metadata

In [30]:
!conda info --envs

# conda environments:
#
base                     /home/davidgriffiths/miniconda3
sqlparse              *  /home/davidgriffiths/miniconda3/envs/sqlparse

In [31]:
import sql_metadata

In [32]:
import re
from typing import List, Tuple, Optional, Dict
import sqlparse

from sqlparse.sql import TokenList
from sqlparse.tokens import Name, Whitespace, Wildcard, Number, Punctuation

# re built get_query_tables
i remvoed the quote removal

In [33]:
def get_query_tables(query: str) -> List[str]:
    """
    :type query str
    :rtype: list[str]
    """
    tables = []
    last_keyword = None

    table_syntax_keywords = [
        # SELECT queries
        'FROM', 'WHERE', 'JOIN', 'INNER JOIN', 'FULL JOIN', 'FULL OUTER JOIN',
        'LEFT OUTER JOIN', 'RIGHT OUTER JOIN',
        'LEFT JOIN', 'RIGHT JOIN', 'ON',
        # INSERT queries
        'INTO', 'VALUES',
        # UPDATE queries
        'UPDATE', 'SET',
        # Hive queries
        'TABLE',  # INSERT TABLE
    ]

    # print(query, get_query_tokens(query))
#     query = query.replace('"', '')
    tokens = sql_metadata.get_query_tokens(query)

    for index, token in enumerate(tokens):
#         print([token, token.ttype, last_keyword])
        if token.is_keyword and token.value.upper() in table_syntax_keywords:
            # keep the name of the last keyword, the next one can be a table name
            last_keyword = token.value.upper()
            # print('keyword', last_keyword)
        elif str(token) == '(':
            # reset the last_keyword for INSERT `foo` VALUES(id, bar) ...
            last_keyword = None
        elif token.is_keyword and str(token) in ['FORCE', 'ORDER', 'GROUP BY']:
            # reset the last_keyword for queries like:
            # "SELECT x FORCE INDEX"
            # "SELECT x ORDER BY"
            # "SELECT x FROM y GROUP BY x"
            last_keyword = None
        elif token.is_keyword and str(token) == 'SELECT' and last_keyword in ['INTO', 'TABLE']:
            # reset the last_keyword for "INSERT INTO SELECT" and "INSERT TABLE SELECT" queries
            last_keyword = None
        elif token.ttype is Name or token.ttype or token.is_keyword:
            tables = sql_metadata._update_table_names(tables, tokens, index, last_keyword)

    return sql_metadata.unique(tables)

# working with multiple files

In [34]:
import os
from os import path
from pathlib import Path

# get all sql files

In [35]:
files = os.listdir()

In [39]:
files_filtered = list(filter(lambda x: re.search(r"^.*\.(sql)$", x), files))

# for each file read and parse out tables

In [40]:
with open('untitled.sql', 'r') as f:
    query = f.read()
    tables = get_query_tables(query)
    print(tables)

['"enc_dde"."tableau enc case field links view"', '"enc_dde"."tableau enc case view"', '"enc_dde"."tableau enc case snapshot view"', '"nbn_dde_23"."tableau location view"']

In [44]:
list_of_sql_views = []

for file in files_filtered:
    with open(file, 'r') as f:
        query = f.read()
        tables = get_query_tables(query)
        
        # create a dict
        dic = {}
        dic['name'] = file
        dic['depnd_tables'] = tables
        list_of_sql_views.append(dic)

list_of_sql_views

[{'name': 'untitled.sql',
  'depnd_tables': ['"enc_dde"."tableau enc case field links view"',
   '"enc_dde"."tableau enc case view"',
   '"enc_dde"."tableau enc case snapshot view"',
   '"nbn_dde_23"."tableau location view"']},
 {'name': 'untitled-Copy1.sql',
  'depnd_tables': ['"enc_dde"."tableau enc case field dave view"',
   '"enc_dde"."tableau dave view"',
   '"enc_dde"."tableau dave"',
   '"nbn_dde_23"."tableau dave loc view"']}]

# write out as JSON

# get airflow dependcies