# using sqlparse to create meta data

### instructions
- git pull latest

### limitations
- [solevd] when using spaces in tables names with reserved keyworkds, e.g. case in "tableau enc case view"
Have solved this by changing sq_metadata
- COPY TRUNCATE INSERTED not supported yet example (will only pick up CREATE and DROP): /csaa-aws-data-capability/nbn_dde_23/load/batches/d_location-rs_full_load.sql

### how does this work?
- sql files is made up of one to many sql statements
- each sql statments is made up of tokens
- tokens seperate out keyworkds, DML, DDL, names and puncutation ect.

### output
- parent child relationships of every single sql statement in every sql file (can be multiple)
- example:

In [674]:
# example output 
[{'fileName': 'Tableau MTM Glide Path Target View.sql',
  'name': 'Tableau MTM Glide Path Target View',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/tableau_views/Tableau MTM Glide Path Target View.sql',
  'depnd_tables': [],
  'parent': 'nbn_dde_23."Tableau MTM Glide Path Target View"',
  'ddl_type': 'DROP'}]

[{'fileName': 'Tableau MTM Glide Path Target View.sql',
  'name': 'Tableau MTM Glide Path Target View',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/tableau_views/Tableau MTM Glide Path Target View.sql',
  'depnd_tables': [],
  'parent': 'nbn_dde_23."Tableau MTM Glide Path Target View"',
  'ddl_type': 'DROP'}]

# setup

In [675]:
!conda info --envs

# conda environments:
#
base                     /home/davidgriffiths/miniconda3
sqlparse              *  /home/davidgriffiths/miniconda3/envs/sqlparse

In [676]:
import sql_metadata

In [677]:
import re
from typing import List, Tuple, Optional, Dict
import sqlparse

from sqlparse.sql import TokenList
from sqlparse.tokens import Name, Whitespace, Wildcard, Number, Punctuation, DDL

# re built get_query_tokens
need to account for multiple queries in a file

In [678]:
def get_query_tokens(query: str) -> List[sqlparse.sql.Token]:
    """
    daves changes: sqlparse.parse(query) returns a tuple if multiple queries ";" need to handle this
    :type query str
    :rtype: list[{queryNoWithinFile str,  tokens: list[sqlparse.sql.Token]}
    """
    query = sql_metadata.preprocess_query(query)
    parsed = sqlparse.parse(query)

    # handle empty queries (#12)
    if not parsed:
        return []

    queries_list_and_tokens =[]
    n=0
    for qry in parsed:
        tokens = TokenList(qry.tokens).flatten()
        # print([(token.value, token.ttype) for token in tokens])

        dic = {"queryNoWithinFile":n,"tokens":[token for token in tokens if token.ttype is not Whitespace]}
        queries_list_and_tokens.append(dic)
        n = n+1
    return queries_list_and_tokens

# re built get_query_tables
i remvoed the quote removal

In [679]:
def get_query_tables(query: str, dev=False) -> List[str]:
    """
    :type query str
    :rtype: list[str]
    """
    

    table_syntax_keywords = [
        # SELECT queries
        'FROM', 'WHERE', 'JOIN', 'INNER JOIN', 'FULL JOIN', 'FULL OUTER JOIN',
        'LEFT OUTER JOIN', 'RIGHT OUTER JOIN',
        'LEFT JOIN', 'RIGHT JOIN', 'ON',
        # INSERT queries
        'INTO', 'VALUES',
        # UPDATE queries
        'UPDATE', 'SET',
        # Hive queries
        'TABLE',  # INSERT TABLE
        
        
    ]
    
#     print(sql_metadata.get_query_tokens(query))
#     query = query.replace('"', '')
    query = sqlparse.format(query, strip_comments=True).strip()
#     print(query)
    queries_list_and_tokens = get_query_tokens(query)
    
    queries_list_and_tokens_parsed =[]
    
    for query_and_tokens in queries_list_and_tokens:
        parent_table_list = []
        parent_table_counter = 0 # increments to 2 to get schema and table
        tables = []
        last_keyword = None
        last_ddl =None
        keep_last_ddl = None
        
        for index, token in enumerate(query_and_tokens['tokens']):
            if dev==True: print([token, token.ttype, last_keyword,last_ddl, token.value.upper(),parent_table_counter, last_ddl])
            if token.is_keyword and token.value.upper() in table_syntax_keywords:
                # keep the name of the last keyword, the next one can be a table name
                last_keyword = token.value.upper()
#                 print('keyword', last_keyword)
            elif str(token.ttype) == 'Token.Keyword.DDL':
                # keep the name of the last create, the next one can be annother table to create
                last_ddl = token.value.upper()
                keep_last_ddl= token.value.upper()
#                 print('keyword.lld', token.value.upper())
            elif str(token) == '(':
                # reset the last_keyword for INSERT `foo` VALUES(id, bar) ...
                last_keyword = None
            elif token.is_keyword and str(token) in ['FORCE', 'ORDER', 'GROUP BY']:
                # reset the last_keyword for queries like:
                # "SELECT x FORCE INDEX"
                # "SELECT x ORDER BY"
                # "SELECT x FROM y GROUP BY x"
                last_keyword = None
            elif token.is_keyword and str(token) == 'SELECT' and last_keyword in ['INTO', 'TABLE']:
                # reset the last_keyword for "INSERT INTO SELECT" and "INSERT TABLE SELECT" queries
                last_keyword = None
            elif (token.ttype is Name or str(token.ttype) == 'Token.Literal.String.Symbol') and last_ddl in ['CREATE','DROP']:
#                 print("found a CREATE or DROP")
                parent_table_list.append(str(token))
                parent_table_counter = parent_table_counter + 1
                if parent_table_counter > 1:
                    last_ddl = None
                    parent_table_counter = 0
#                 parent_table = sql_metadata._update_table_names(tables, query_and_tokens['tokens'], index, last_keyword)
            elif token.ttype is Name or token.ttype or token.is_keyword:
                tables = sql_metadata._update_table_names(tables, query_and_tokens['tokens'], index, last_keyword)
        unique_tables = sql_metadata.unique(tables)
        dic = {
            "queryNoWithinFile": query_and_tokens['queryNoWithinFile'],
            "tables": unique_tables,
            "parent_table": '.'.join(parent_table_list),
            "ddl_type": keep_last_ddl
        }
        queries_list_and_tokens_parsed.append(dic)

    return queries_list_and_tokens_parsed

# working with multiple files

In [680]:
import os
from os import path
from pathlib import Path

# get all sql files

In [681]:
files = os.listdir()

In [682]:
files_filtered = list(filter(lambda x: re.search(r"^.*\.(sql)$", x), files))

# get all sql view depedncies

### get all files in RAPID

In [683]:
rapid_dirs = ['tableau_dde/transform/views'] # ['nbn_dde_23/load/batches'] # ['nbn_dde_23/tableau_views'] # ['tableau_dde/transform/views'] # ['nbn_dde_23/tableau_views','tableau_dde/transform/views']

In [684]:
rapid_files = []
for rapid_dir in rapid_dirs:
    for dirpath, dirname, filenames in os.walk(os.path.join('/home/davidgriffiths/csaa-aws-data-capability',rapid_dir)):
    #     print('Current path:', dirpath)
    #     print('Directories:', dirname)
    #     print('Files:', filenames)
        for file in filenames:
            file_dict = {
                "fileName": file,
                "path": os.path.join(dirpath,file),
            }
            rapid_files.append(file_dict)
rapid_files[0:3]

[{'fileName': 'tableau_fld_a11s_minified_xs_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_xs_v.sql'},
 {'fileName': 'tableau_fld_a11s_minified_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_v.sql'},
 {'fileName': 'tableau_csa_a26a_minified_repeat_tr_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_csa_a26a_minified_repeat_tr_v.sql'}]

### keep only .sql files

In [685]:
rapid_files_filtered = list(filter(lambda x: re.search(r"^.*\.(sql)$", x['fileName']), rapid_files))
rapid_files_filtered[0:5]

[{'fileName': 'tableau_fld_a11s_minified_xs_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_xs_v.sql'},
 {'fileName': 'tableau_fld_a11s_minified_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_v.sql'},
 {'fileName': 'tableau_csa_a26a_minified_repeat_tr_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_csa_a26a_minified_repeat_tr_v.sql'},
 {'fileName': 'tableau_neto_a11s_minified_service_rollback_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_neto_a11s_minified_service_rollback_v.sql'},
 {'fileName': 'tableau_fld_a10_minified_otd_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a10_minified_otd_v.sql'}]

## loop through files

In [686]:
def addQuotes(item):
    if isinstance(item, str) and len(item) > 0:
        if item[0] =="\"":
            return item
        return f"\"{item}\""
    return item

In [687]:
# example
parent_example = '"nbn_dde_23".temp_IMPT_D_LOCATION_T'

addQuotes(parent_example.split('.')[0])

example_map = map(addQuotes, parent_example.split('.'))
'.'.join(list(example_map))

'"nbn_dde_23"."temp_IMPT_D_LOCATION_T"'

In [688]:
list_of_rapid_sql_views = []

def map_over_shema_table(item):
    if item == '' or item == None: return
    return '.'.join(list(map(addQuotes, item.split('.'))))

for file in rapid_files_filtered[0:3]:
    with open(file['path'], 'r') as f:
        query = f.read()
        queries_and_tables = get_query_tables(query,False)
    
        for qry in queries_and_tables:
            
            dic = {
                'fileName': file['fileName'],
                'name': os.path.splitext(file['fileName'])[0],
                'path': file['path'].replace("/home/davidgriffiths", ""),
#                 'depnd_tables': qry['tables'],
                'depnd_tables': list(map(map_over_shema_table,qry['tables'])),
#                 'parent': qry["parent_table"],
#                 'parent': '.'.join(list(map(addQuotes, qry["parent_table"].split('.')))),
                'parent': map_over_shema_table(qry["parent_table"]),
                'ddl_type': qry['ddl_type']
            }

            list_of_rapid_sql_views.append(dic) 
        

list_of_rapid_sql_views[0:5]

[{'fileName': 'tableau_fld_a11s_minified_xs_v.sql',
  'name': 'tableau_fld_a11s_minified_xs_v',
  'path': '/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_xs_v.sql',
  'depnd_tables': ['"tableau_dde"."tableau_fld_a11s_minified_t"'],
  'parent': None,
  'ddl_type': 'CREATE OR REPLACE'},
 {'fileName': 'tableau_fld_a11s_minified_v.sql',
  'name': 'tableau_fld_a11s_minified_v',
  'path': '/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_v.sql',
  'depnd_tables': ['"field_dde"."tableau field daily snapshot view"',
   '"field_dde"."tableau field order incidents only links view"',
   '"cc_dde"."tableau location view"',
   '"cc_dde"."tableau cc orders view"',
   '"cc_dde"."tableau product instance view"',
   '"cc_dde"."tableau cc order additional attributes view"',
   '"field_dde"."tableau field work order view"',
   '"nbn_dde_23"."tableau incidents view"',
   '"nbn_dde_23"."tableau incident additional attributes view"',
   '"cc_dde"."tableau cc wo resolver group view"',
   '"tt20"',
   '"FLDA11SM_PRE"'],
  'parent': None,
  'ddl_type': 'CREATE OR REPLACE'},
 {'fileName': 'tableau_csa_a26a_minified_repeat_tr_v.sql',
  'name': 'tableau_csa_a26a_minified_repeat_tr_v',
  'path': '/csaa-aws-data-capability/tableau_dde/transform/views/tableau_csa_a26a_minified_repeat_tr_v.sql',
  'depnd_tables': ['"nbn_dde_23"."tableau repeat incidents view"',
   '"nbn_dde_23"."tableau location view"',
   '"nbn_dde_23"."tableau incidents view"',
   '"nbn_dde_23"."tableau incident location links view"',
   '"nbn_dde_23"."tableau prior product instance view"',
   '"nbn_dde_23"."tableau prior incidents view"',
   '"nbn_dde_23"."tableau prior incident additional attributes view"',
   '"nbn_dde_23"."tableau product instance view"',
   '"nbn_dde_23"."tableau incident additional attributes view"',
   '"bia_sa_stg"."genesys_agent_team_mapping_v"',
   '"tt10"',
   '"tt20"',
   '"tt35"',
   '"tt50"',
   '"tt40"',
   '"tt60"',
   '"tt70"',
   '"tt80"',
   '"tt10"."*"',
   '"tt80"."repeat_sequence_number"',
   '"tt80"."location_seq_valid"',
   '"tt80"."last_incident_in_Set"',
   '"tt80"."repeat_Set"'],
  'parent': None,
  'ddl_type': 'CREATE OR REPLACE'}]

# write out as JSON

In [689]:
import json

In [690]:
# # loads json from string
# datajsonstr=json.loads('{"str":"str"}')
# datajsonstr

In [691]:
# stringify = json.dumps(list_of_rapid_sql_views, indent=2)
# stringify

In [692]:
# with open('jsonfile.json') as f:
#     data = json.load(f)

In [693]:
with open('list_of_rapid_sql_views.json','w') as f:
    json.dump(list_of_rapid_sql_views, f)

# test out funny files

In [694]:
filenamedave = '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/tableau_views/Tableau Incident WO Links View.sql'

In [695]:
with open(filenamedave, 'r') as f:
        query = f.read()
#         print(query)
        tables = get_query_tables(query)
        print(tables)

[{'queryNoWithinFile': 0, 'tables': [], 'parent_table': 'nbn_dde_23."Tableau Incident WO Links View"', 'ddl_type': 'DROP'}, {'queryNoWithinFile': 1, 'tables': ['nbn_dde_23.CSA_INCIDENT_LINKS_WO_T'], 'parent_table': '', 'ddl_type': 'CREATE  OR REPLACE'}]

# problem sqlparse.parse doesnt do multiple queries

In [696]:
with open(filenamedave, 'r') as f:
        query = f.read()
#         print(query)
#         tables = get_query_tables(query)
#         print(tables)

        # is parsing within sql_metadata.get_query_tokens working
#         res = sqlparse.parse(query)
#         print(res[1]) ##  this second query isnt getting picked up
        
        print(get_query_tokens(query))

[{'queryNoWithinFile': 0, 'tokens': [<DDL 'drop' at 0x7F7FDDA50EE8>, <Keyword 'view' at 0x7F7FCFAC0CA8>, <Keyword 'if' at 0x7F7FCFAC0C48>, <Keyword 'exists' at 0x7F7FCFAC0B88>, <Name 'nbn_dd...' at 0x7F7FDD3DF1C8>, <Punctuation '.' at 0x7F7FDC4C3708>, <Symbol '"Table...' at 0x7F7FDC4C3588>, <Punctuation ';' at 0x7F7FCF785108>]}, {'queryNoWithinFile': 1, 'tokens': [<DDL 'CREATE...' at 0x7F7FDC131A68>, <Keyword 'VIEW' at 0x7F7FDC131BE8>, <Name 'nbn_dd...' at 0x7F7FDC131B88>, <Punctuation '.' at 0x7F7FDD7585E8>, <Symbol '"Table...' at 0x7F7FDD7583A8>, <Keyword 'AS' at 0x7F7FDD758C48>, <DML 'SELECT' at 0x7F7FDD7586A8>, <Name 'INC_WO...' at 0x7F7FDD7582E8>, <Punctuation ',' at 0x7F7FCFEBD1C8>, <Name 'INCIDE...' at 0x7F7FCFEBD888>, <Punctuation ',' at 0x7F7FDD3BE408>, <Name 'APPOIN...' at 0x7F7FDD380048>, <Punctuation ',' at 0x7F7FDD95A888>, <Name 'WORK_R...' at 0x7F7FDD95A2E8>, <Punctuation ',' at 0x7F7FDD8CEA68>, <Name 'WORK_O...' at 0x7F7FDD8CEBE8>, <Punctuation ',' at 0x7F7FDD75C108>, <Name 'PRI_ID...' at 0x7F7FDC1AB1C8>, <Punctuation ',' at 0x7F7FDC1AB408>, <Name 'PRI_KE...' at 0x7F7FDC1AB4C8>, <Punctuation ',' at 0x7F7FDC1AB828>, <Name 'DQ_COM...' at 0x7F7FDC1AB8E8>, <Keyword 'as' at 0x7F7FDC1AB9A8>, <Symbol '"Data ...' at 0x7F7FDC1ABA68>, <Punctuation ',' at 0x7F7FDC1ABDC8>, <Name 'LOCATI...' at 0x7F7FDC1ABE88>, <Punctuation ',' at 0x7F7FDC1BE228>, <Name 'APPOIN...' at 0x7F7FDC1BE2E8>, <Punctuation ',' at 0x7F7FDC1BE648>, <Name 'EXC_1_...' at 0x7F7FDC1BE708>, <Keyword 'as' at 0x7F7FDC1BE7C8>, <Symbol '"Exclu...' at 0x7F7FDC1BE888>, <Punctuation ',' at 0x7F7FDC1BEBE8>, <Name 'EXC_2_...' at 0x7F7FDC1BECA8>, <Keyword 'as' at 0x7F7FDC1BED68>, <Symbol '"Exclu...' at 0x7F7FDC1BEE28>, <Punctuation ',' at 0x7F7FDC1971C8>, <Name 'EXC_3_...' at 0x7F7FDC197288>, <Keyword 'as' at 0x7F7FDC197348>, <Symbol '"Exclu...' at 0x7F7FDC197408>, <Punctuation ',' at 0x7F7FDC197768>, <Name 'EXC_4_...' at 0x7F7FDC197828>, <Keyword 'as' at 0x7F7FDC1978E8>, <Symbol '"Exclu...' at 0x7F7FDC1979A8>, <Punctuation ',' at 0x7F7FDC197D08>, <Name 'EXC_5_...' at 0x7F7FDC197DC8>, <Keyword 'as' at 0x7F7FDC197E88>, <Symbol '"Exclu...' at 0x7F7FDC197F48>, <Punctuation ',' at 0x7F7FDC1AF2E8>, <Name 'EXC_6_...' at 0x7F7FDC1AF3A8>, <Keyword 'as' at 0x7F7FDC1AF468>, <Symbol '"Exclu...' at 0x7F7FDC1AF528>, <Punctuation ',' at 0x7F7FDC1AF888>, <Name 'EXC_7_...' at 0x7F7FDC1AF948>, <Keyword 'as' at 0x7F7FDC1AFA08>, <Symbol '"Exclu...' at 0x7F7FDC1AFAC8>, <Punctuation ',' at 0x7F7FDC1AFE28>, <Name 'EXC_8_...' at 0x7F7FDC1AFEE8>, <Keyword 'as' at 0x7F7FDC1AFFA8>, <Symbol '"Exclu...' at 0x7F7FDC1BC0A8>, <Punctuation ',' at 0x7F7FDC1BC408>, <Name 'EXC_9_...' at 0x7F7FDC1BC4C8>, <Keyword 'as' at 0x7F7FDC1BC588>, <Symbol '"Exclu...' at 0x7F7FDC1BC648>, <Punctuation ',' at 0x7F7FDC1BC9A8>, <Name 'EXC_10...' at 0x7F7FDC1BCA68>, <Keyword 'as' at 0x7F7FDC1BCB28>, <Symbol '"Exclu...' at 0x7F7FDC1BCBE8>, <Punctuation ',' at 0x7F7FDC1BCE28>, <Name 'Exc_11...' at 0x7F7FDC1BCEE8>, <Keyword 'as' at 0x7F7FDC1BCFA8>, <Symbol '"Exclu...' at 0x7F7FDC1C40A8>, <Punctuation ',' at 0x7F7FDC1C42E8>, <Name 'EXC_12...' at 0x7F7FDC1C43A8>, <Keyword 'as' at 0x7F7FDC1C4468>, <Symbol '"Exclu...' at 0x7F7FDC1C4528>, <Punctuation ',' at 0x7F7FDC1C4768>, <Name 'Exc_13...' at 0x7F7FDC1C4828>, <Keyword 'as' at 0x7F7FDC1C48E8>, <Symbol '"Exclu...' at 0x7F7FDC1C49A8>, <Single '--Deep...' at 0x7F7FDC1C4C48>]}]