# using sqlparse to create meta data
limitations
- when using spaces in tables names with reserved keyworkds, e.g. case in "tableau enc case view"

Have solved this by changing sq_metadata

In [41]:
!conda info --envs

# conda environments:
#
base                     /home/davidgriffiths/miniconda3
sqlparse              *  /home/davidgriffiths/miniconda3/envs/sqlparse

In [42]:
import sql_metadata

In [43]:
import re
from typing import List, Tuple, Optional, Dict
import sqlparse

from sqlparse.sql import TokenList
from sqlparse.tokens import Name, Whitespace, Wildcard, Number, Punctuation

# re built get_query_tables
i remvoed the quote removal

In [81]:
def get_query_tables(query: str) -> List[str]:
    """
    :type query str
    :rtype: list[str]
    """
    tables = []
    last_keyword = None

    table_syntax_keywords = [
        # SELECT queries
        'FROM', 'WHERE', 'JOIN', 'INNER JOIN', 'FULL JOIN', 'FULL OUTER JOIN',
        'LEFT OUTER JOIN', 'RIGHT OUTER JOIN',
        'LEFT JOIN', 'RIGHT JOIN', 'ON',
        # INSERT queries
        'INTO', 'VALUES',
        # UPDATE queries
        'UPDATE', 'SET',
        # Hive queries
        'TABLE',  # INSERT TABLE
    ]

    # print(query, get_query_tokens(query))
#     query = query.replace('"', '')
    query = sqlparse.format(query, strip_comments=True).strip()
    tokens = sql_metadata.get_query_tokens(query)

    for index, token in enumerate(tokens):
#         print([token, token.ttype, last_keyword])
        if token.is_keyword and token.value.upper() in table_syntax_keywords:
            # keep the name of the last keyword, the next one can be a table name
            last_keyword = token.value.upper()
            # print('keyword', last_keyword)
        elif str(token) == '(':
            # reset the last_keyword for INSERT `foo` VALUES(id, bar) ...
            last_keyword = None
        elif token.is_keyword and str(token) in ['FORCE', 'ORDER', 'GROUP BY']:
            # reset the last_keyword for queries like:
            # "SELECT x FORCE INDEX"
            # "SELECT x ORDER BY"
            # "SELECT x FROM y GROUP BY x"
            last_keyword = None
        elif token.is_keyword and str(token) == 'SELECT' and last_keyword in ['INTO', 'TABLE']:
            # reset the last_keyword for "INSERT INTO SELECT" and "INSERT TABLE SELECT" queries
            last_keyword = None
        elif token.ttype is Name or token.ttype or token.is_keyword:
            tables = sql_metadata._update_table_names(tables, tokens, index, last_keyword)

    return sql_metadata.unique(tables)

# working with multiple files

In [45]:
import os
from os import path
from pathlib import Path

# get all sql files

In [46]:
files = os.listdir()

In [47]:
files_filtered = list(filter(lambda x: re.search(r"^.*\.(sql)$", x), files))

# for each file read and parse out tables

In [48]:
with open('untitled.sql', 'r') as f:
    query = f.read()
    tables = get_query_tables(query)
    print(tables)

['"enc_dde"."tableau enc case field links view"', '"enc_dde"."tableau enc case view"', '"enc_dde"."tableau enc case snapshot view"', '"nbn_dde_23"."tableau location view"']

In [49]:
list_of_sql_views = []

for file in files_filtered:
    with open(file, 'r') as f:
        query = f.read()
        tables = get_query_tables(query)
        
        # create a dict
        dic = {}
        dic['name'] = file
        dic['depnd_tables'] = tables
        list_of_sql_views.append(dic)

list_of_sql_views

[{'name': 'untitled.sql',
  'depnd_tables': ['"enc_dde"."tableau enc case field links view"',
   '"enc_dde"."tableau enc case view"',
   '"enc_dde"."tableau enc case snapshot view"',
   '"nbn_dde_23"."tableau location view"']},
 {'name': 'untitled-Copy1.sql',
  'depnd_tables': ['"enc_dde"."tableau enc case field dave view"',
   '"enc_dde"."tableau dave view"',
   '"enc_dde"."tableau dave"',
   '"nbn_dde_23"."tableau dave loc view"']}]

# get all sql view depedncies

### get all files in RAPID

In [58]:
rapid_files = []
for dirpath, dirname, filenames in os.walk('/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views'):
#     print('Current path:', dirpath)
#     print('Directories:', dirname)
#     print('Files:', filenames)
    for file in filenames:
        file_dict = {
            "fileName": file,
            "path": os.path.join(dirpath,file),
        }
        rapid_files.append(file_dict)
rapid_files[0:3]

[{'fileName': 'tableau_fld_a11s_minified_xs_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_xs_v.sql'},
 {'fileName': 'tableau_fld_a11s_minified_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_v.sql'},
 {'fileName': 'tableau_csa_a26a_minified_repeat_tr_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_csa_a26a_minified_repeat_tr_v.sql'}]

### keep only .sql files

In [59]:
rapid_files_filtered = list(filter(lambda x: re.search(r"^.*\.(sql)$", x['fileName']), rapid_files))
rapid_files_filtered[0:5]

[{'fileName': 'tableau_fld_a11s_minified_xs_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_xs_v.sql'},
 {'fileName': 'tableau_fld_a11s_minified_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_v.sql'},
 {'fileName': 'tableau_csa_a26a_minified_repeat_tr_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_csa_a26a_minified_repeat_tr_v.sql'},
 {'fileName': 'tableau_neto_a11s_minified_service_rollback_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_neto_a11s_minified_service_rollback_v.sql'},
 {'fileName': 'tableau_fld_a10_minified_otd_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a10_minified_otd_v.sql'}]

## loop through files

In [82]:
list_of_rapid_sql_views = []

for file in rapid_files_filtered[0:2]:
    with open(file['path'], 'r') as f:
        query = f.read()
        tables = get_query_tables(query)
#         print(tables)
        
        # create a dict
        dic = {
            'fileName': file['fileName'],
            'path': file['path'],
            'depnd_tables': tables
            
        }
        list_of_rapid_sql_views.append(dic)

list_of_rapid_sql_views

[{'fileName': 'tableau_fld_a11s_minified_xs_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_xs_v.sql',
  'depnd_tables': ['tableau_dde."tableau_fld_a11s_minified_t"']},
 {'fileName': 'tableau_fld_a11s_minified_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_v.sql',
  'depnd_tables': ['"field_dde"."tableau field daily snapshot view"',
   '"field_dde"."tableau field order incidents only links view"',
   '"cc_dde"."tableau location view"',
   '"cc_dde"."tableau cc orders view"',
   '"cc_dde"."tableau product instance view"',
   '"cc_dde"."tableau cc order additional attributes view"',
   '"field_dde"."tableau field work order view"',
   '"nbn_dde_23"."tableau incidents view"',
   '"nbn_dde_23"."tableau incident additional attributes view"',
   '"cc_dde"."tableau cc wo resolver group view"',
   'tt20',
   'FLDA11SM_PRE']}]

# write out as JSON

In [83]:
import json

In [88]:
# # loads json from string
# datajsonstr=json.loads('{"str":"str"}')
# datajsonstr

In [89]:
# stringify = json.dumps(list_of_rapid_sql_views, indent=2)
# stringify

In [90]:
# with open('jsonfile.json') as f:
#     data = json.load(f)

In [92]:
with open('list_of_rapid_sql_views.json','w') as f:
    json.dump(list_of_rapid_sql_views, f)

In [76]:
filenamedave = '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/test.sql'