# using sqlparse to create meta data
limitations
- when using spaces in tables names with reserved keyworkds, e.g. case in "tableau enc case view"

Have solved this by changing sq_metadata

In [440]:
!conda info --envs

# conda environments:
#
base                     /home/davidgriffiths/miniconda3
sqlparse              *  /home/davidgriffiths/miniconda3/envs/sqlparse

In [441]:
import sql_metadata

In [442]:
import re
from typing import List, Tuple, Optional, Dict
import sqlparse

from sqlparse.sql import TokenList
from sqlparse.tokens import Name, Whitespace, Wildcard, Number, Punctuation, DDL

# re built get_query_tokens
need to account for multiple queries in a file

In [443]:
def get_query_tokens(query: str) -> List[sqlparse.sql.Token]:
    """
    daves changes: sqlparse.parse(query) returns a tuple if multiple queries ";" need to handle this
    :type query str
    :rtype: list[{queryNoWithinFile str,  tokens: list[sqlparse.sql.Token]}
    """
    query = sql_metadata.preprocess_query(query)
    parsed = sqlparse.parse(query)

    # handle empty queries (#12)
    if not parsed:
        return []

    queries_list_and_tokens =[]
    n=0
    for qry in parsed:
        tokens = TokenList(qry.tokens).flatten()
        # print([(token.value, token.ttype) for token in tokens])

        dic = {"queryNoWithinFile":n,"tokens":[token for token in tokens if token.ttype is not Whitespace]}
        queries_list_and_tokens.append(dic)
        n = n+1
    return queries_list_and_tokens

# re built get_query_tables
i remvoed the quote removal

In [444]:
def get_query_tables(query: str) -> List[str]:
    """
    :type query str
    :rtype: list[str]
    """
    

    table_syntax_keywords = [
        # SELECT queries
        'FROM', 'WHERE', 'JOIN', 'INNER JOIN', 'FULL JOIN', 'FULL OUTER JOIN',
        'LEFT OUTER JOIN', 'RIGHT OUTER JOIN',
        'LEFT JOIN', 'RIGHT JOIN', 'ON',
        # INSERT queries
        'INTO', 'VALUES',
        # UPDATE queries
        'UPDATE', 'SET',
        # Hive queries
        'TABLE',  # INSERT TABLE
        # CREATE queries
        'CREATE'
    ]
    
#     print(sql_metadata.get_query_tokens(query))
#     query = query.replace('"', '')
    query = sqlparse.format(query, strip_comments=True).strip()
#     print(query)
    queries_list_and_tokens = get_query_tokens(query)
    
    queries_list_and_tokens_parsed =[]
    
    for query_and_tokens in queries_list_and_tokens:
        parent_table_list = []
        parent_table_counter = 0 # increments to 2 to get schema and table
        tables = []
        last_keyword = None
        last_ddl =None
        
        for index, token in enumerate(query_and_tokens['tokens']):
#             print([token, token.ttype, last_keyword,last_ddl, token.value.upper(),parent_table_counter])
            if token.is_keyword and token.value.upper() in table_syntax_keywords:
                # keep the name of the last keyword, the next one can be a table name
                last_keyword = token.value.upper()
#                 print('keyword', last_keyword)
            elif str(token.ttype) == 'Token.Keyword.DDL' and 'CREATE' in token.value.upper():
                # keep the name of the last create, the next one can be annother table to create
                last_ddl = 'CREATE'
#                 print('keyword.lld', last_ddl)
            elif str(token.ttype) == 'Token.Keyword.DDL' and 'DROP' in token.value.upper():
                # keep the name of the last create, the next one can be annother table to create
                last_ddl = 'DROP'
#                 print('keyword.lld', last_ddl)
            elif str(token) == '(':
                # reset the last_keyword for INSERT `foo` VALUES(id, bar) ...
                last_keyword = None
            elif token.is_keyword and str(token) in ['FORCE', 'ORDER', 'GROUP BY']:
                # reset the last_keyword for queries like:
                # "SELECT x FORCE INDEX"
                # "SELECT x ORDER BY"
                # "SELECT x FROM y GROUP BY x"
                last_keyword = None
            elif token.is_keyword and str(token) == 'SELECT' and last_keyword in ['INTO', 'TABLE']:
                # reset the last_keyword for "INSERT INTO SELECT" and "INSERT TABLE SELECT" queries
                last_keyword = None
            elif (token.ttype is Name or str(token.ttype) == 'Token.Literal.String.Symbol') and last_ddl in ['CREATE','DROP']:
#                 print("found a CREATE or DROP")
                parent_table_list.append(str(token))
                parent_table_counter = parent_table_counter + 1
                if parent_table_counter > 1:
                    last_ddl = None
                    parent_table_counter = 0
#                 parent_table = sql_metadata._update_table_names(tables, query_and_tokens['tokens'], index, last_keyword)
            elif token.ttype is Name or token.ttype or token.is_keyword:
                tables = sql_metadata._update_table_names(tables, query_and_tokens['tokens'], index, last_keyword)
        unique_tables = sql_metadata.unique(tables)
        dic = {
            "queryNoWithinFile": query_and_tokens['queryNoWithinFile'],
            "tables": unique_tables,
            "parent_table": '.'.join(parent_table_list)
        }
        queries_list_and_tokens_parsed.append(dic)

    return queries_list_and_tokens_parsed

# working with multiple files

In [445]:
import os
from os import path
from pathlib import Path

# get all sql files

In [446]:
files = os.listdir()

In [447]:
files_filtered = list(filter(lambda x: re.search(r"^.*\.(sql)$", x), files))

# for each file read and parse out tables

In [448]:
with open('untitled.sql', 'r') as f:
    query = f.read()
    tables = get_query_tables(query)
    print(tables)

[{'queryNoWithinFile': 0, 'tables': ['"enc_dde"."tableau enc case field links view"', '"enc_dde"."tableau enc case view"', '"enc_dde"."tableau enc case snapshot view"', '"nbn_dde_23"."tableau location view"'], 'parent_table': ''}]

In [449]:
list_of_sql_views = []

for file in files_filtered:
    with open(file, 'r') as f:
        query = f.read()
        tables = get_query_tables(query)
        
        # create a dict
        dic = {}
        dic['name'] = file
        dic['depnd_tables'] = tables
        list_of_sql_views.append(dic)

list_of_sql_views

[{'name': 'untitled.sql',
  'depnd_tables': [{'queryNoWithinFile': 0,
    'tables': ['"enc_dde"."tableau enc case field links view"',
     '"enc_dde"."tableau enc case view"',
     '"enc_dde"."tableau enc case snapshot view"',
     '"nbn_dde_23"."tableau location view"'],
    'parent_table': ''}]},
 {'name': 'untitled-Copy1.sql',
  'depnd_tables': [{'queryNoWithinFile': 0,
    'tables': ['"enc_dde"."tableau enc case field dave view"',
     '"enc_dde"."tableau dave view"',
     '"enc_dde"."tableau dave"',
     '"nbn_dde_23"."tableau dave loc view"'],
    'parent_table': ''}]}]

# get all sql view depedncies

### get all files in RAPID

In [450]:
rapid_dirs = ['tableau_dde/transform/views'] # ['nbn_dde_23/tableau_views','tableau_dde/transform/views']

In [451]:
rapid_files = []
for rapid_dir in rapid_dirs:
    for dirpath, dirname, filenames in os.walk(os.path.join('/home/davidgriffiths/csaa-aws-data-capability',rapid_dir)):
    #     print('Current path:', dirpath)
    #     print('Directories:', dirname)
    #     print('Files:', filenames)
        for file in filenames:
            file_dict = {
                "fileName": file,
                "path": os.path.join(dirpath,file),
            }
            rapid_files.append(file_dict)
rapid_files[0:3]

[{'fileName': 'tableau_fld_a11s_minified_xs_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_xs_v.sql'},
 {'fileName': 'tableau_fld_a11s_minified_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_v.sql'},
 {'fileName': 'tableau_csa_a26a_minified_repeat_tr_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_csa_a26a_minified_repeat_tr_v.sql'}]

### keep only .sql files

In [452]:
rapid_files_filtered = list(filter(lambda x: re.search(r"^.*\.(sql)$", x['fileName']), rapid_files))
rapid_files_filtered[0:5]

[{'fileName': 'tableau_fld_a11s_minified_xs_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_xs_v.sql'},
 {'fileName': 'tableau_fld_a11s_minified_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_v.sql'},
 {'fileName': 'tableau_csa_a26a_minified_repeat_tr_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_csa_a26a_minified_repeat_tr_v.sql'},
 {'fileName': 'tableau_neto_a11s_minified_service_rollback_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_neto_a11s_minified_service_rollback_v.sql'},
 {'fileName': 'tableau_fld_a10_minified_otd_v.sql',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a10_minified_otd_v.sql'}]

## loop through files

In [462]:
list_of_rapid_sql_views = []

for file in rapid_files_filtered:
    with open(file['path'], 'r') as f:
        query = f.read()
        queries_and_tables = get_query_tables(query)
#         print(tables)

        all_tables = []
        all_parent = []
        
    
        for qry in queries_and_tables:
            for table in qry['tables']:
                all_tables.append(table)
                
            all_parent.append(qry["parent_table"])
        
        # create a dict
        dic = {
            'fileName': file['fileName'],
            'name': os.path.splitext(file['fileName'])[0],
            'path': file['path'],
            'depnd_tables': all_tables,
            # TODO parent table to split out, currently each time ';' we are just grouping tables
            'all_parent': all_parent
#             'parent_table': queries_and_tables[0]['parent_table'][0]
            
        }
        list_of_rapid_sql_views.append(dic)

list_of_rapid_sql_views[0:5]

[{'fileName': 'tableau_fld_a11s_minified_xs_v.sql',
  'name': 'tableau_fld_a11s_minified_xs_v',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_xs_v.sql',
  'depnd_tables': ['tableau_dde."tableau_fld_a11s_minified_t"'],
  'all_parent': ['tableau_dde.tableau_fld_a11s_minified_xs_v']},
 {'fileName': 'tableau_fld_a11s_minified_v.sql',
  'name': 'tableau_fld_a11s_minified_v',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a11s_minified_v.sql',
  'depnd_tables': ['"field_dde"."tableau field daily snapshot view"',
   '"field_dde"."tableau field order incidents only links view"',
   '"cc_dde"."tableau location view"',
   '"cc_dde"."tableau cc orders view"',
   '"cc_dde"."tableau product instance view"',
   '"cc_dde"."tableau cc order additional attributes view"',
   '"field_dde"."tableau field work order view"',
   '"nbn_dde_23"."tableau incidents view"',
   '"nbn_dde_23"."tableau incident additional attributes view"',
   '"cc_dde"."tableau cc wo resolver group view"',
   'tt20',
   'FLDA11SM_PRE'],
  'all_parent': ['tableau_dde."tableau_fld_a11s_minified_v"']},
 {'fileName': 'tableau_csa_a26a_minified_repeat_tr_v.sql',
  'name': 'tableau_csa_a26a_minified_repeat_tr_v',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_csa_a26a_minified_repeat_tr_v.sql',
  'depnd_tables': ['"nbn_dde_23"."tableau repeat incidents view"',
   '"nbn_dde_23"."tableau location view"',
   '"nbn_dde_23"."tableau incidents view"',
   '"nbn_dde_23"."tableau incident location links view"',
   '"nbn_dde_23"."tableau prior product instance view"',
   '"nbn_dde_23"."tableau prior incidents view"',
   '"nbn_dde_23"."tableau prior incident additional attributes view"',
   '"nbn_dde_23"."tableau product instance view"',
   '"nbn_dde_23"."tableau incident additional attributes view"',
   '"bia_sa_stg"."genesys_agent_team_mapping_v"',
   'tt10',
   'tt20',
   'tt35',
   'tt50',
   'tt40',
   'tt60',
   'tt70',
   'tt80',
   'tt10.*',
   'tt80.repeat_sequence_number',
   'tt80.location_seq_valid',
   'tt80.last_incident_in_Set',
   'tt80.repeat_Set'],
  'all_parent': ['tableau_dde.tableau_csa_a26a_minified_repeat_tr_v']},
 {'fileName': 'tableau_neto_a11s_minified_service_rollback_v.sql',
  'name': 'tableau_neto_a11s_minified_service_rollback_v',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_neto_a11s_minified_service_rollback_v.sql',
  'depnd_tables': ['"nbn_dde_23"."d_location_incident_snapshot_t"',
   '"nbn_dde_23"."tableau location type 2 view"',
   '"cc_dde"."tableau cc order daily snapshot for location view"',
   '"cc_dde"."tableau cc orders view"',
   '"cc_dde"."tableau cc loc order only links view"',
   '"cc_dde"."tableau cc work order view"',
   '"neto_dde"."tableau service class incident view"',
   '"nbn_dde_23"."tableau service class changes view"',
   '"nbn_dde_23"."tableau pni snapshot audit report view"'],
  'all_parent': ['tableau_dde.tableau_neto_a11s_minified_service_rollback_v']},
 {'fileName': 'tableau_fld_a10_minified_otd_v.sql',
  'name': 'tableau_fld_a10_minified_otd_v',
  'path': '/home/davidgriffiths/csaa-aws-data-capability/tableau_dde/transform/views/tableau_fld_a10_minified_otd_v.sql',
  'depnd_tables': ['"field_dde"."tableau field links view"',
   '"field_dde"."tableau field work order view"',
   '"nbn_dde_23"."tableau location view"',
   '"nbn_dde_23"."tableau product instance view"',
   '"nbn_dde_23"."tableau incidents view"',
   '"nbn_dde_23"."tableau incident additional attributes view"',
   '"cc_dde"."tableau cc orders view"',
   '"cc_dde"."tableau cc order additional attributes view"',
   '"nbn_dde_23"."TD Tableau Aged Incident View"',
   '"field_dde"."tableau field appointment view"'],
  'all_parent': ['tableau_dde.tableau_fld_a10_minified_otd_v']}]

# write out as JSON

In [454]:
import json

In [455]:
# # loads json from string
# datajsonstr=json.loads('{"str":"str"}')
# datajsonstr

In [456]:
# stringify = json.dumps(list_of_rapid_sql_views, indent=2)
# stringify

In [457]:
# with open('jsonfile.json') as f:
#     data = json.load(f)

In [458]:
with open('list_of_rapid_sql_views.json','w') as f:
    json.dump(list_of_rapid_sql_views, f)

# test out funny files

In [459]:
filenamedave = '/home/davidgriffiths/csaa-aws-data-capability/nbn_dde_23/tableau_views/Tableau Incident WO Links View.sql'

In [460]:
with open(filenamedave, 'r') as f:
        query = f.read()
#         print(query)
        tables = get_query_tables(query)
        print(tables)

[{'queryNoWithinFile': 0, 'tables': [], 'parent_table': 'nbn_dde_23."Tableau Incident WO Links View"'}, {'queryNoWithinFile': 1, 'tables': ['nbn_dde_23.CSA_INCIDENT_LINKS_WO_T'], 'parent_table': 'nbn_dde_23."Tableau Incident WO Links View"'}]

# problem sqlparse.parse doesnt do multiple queries

In [461]:
with open(filenamedave, 'r') as f:
        query = f.read()
#         print(query)
#         tables = get_query_tables(query)
#         print(tables)

        # is parsing within sql_metadata.get_query_tokens working
#         res = sqlparse.parse(query)
#         print(res[1]) ##  this second query isnt getting picked up
        
        print(get_query_tokens(query))

[{'queryNoWithinFile': 0, 'tokens': [<DDL 'drop' at 0x7F7FDD500768>, <Keyword 'view' at 0x7F7FDD500BE8>, <Keyword 'if' at 0x7F7FDD500588>, <Keyword 'exists' at 0x7F7FDD5001C8>, <Name 'nbn_dd...' at 0x7F7FDD500108>, <Punctuation '.' at 0x7F7FDD500AC8>, <Symbol '"Table...' at 0x7F7FDD500A68>, <Punctuation ';' at 0x7F7FDD500A08>]}, {'queryNoWithinFile': 1, 'tokens': [<DDL 'CREATE...' at 0x7F7FDDBC6048>, <Keyword 'VIEW' at 0x7F7FDDBC6108>, <Name 'nbn_dd...' at 0x7F7FDDBC61C8>, <Punctuation '.' at 0x7F7FDDBC6228>, <Symbol '"Table...' at 0x7F7FDDBC6288>, <Keyword 'AS' at 0x7F7FDDBC6348>, <DML 'SELECT' at 0x7F7FDDBC6408>, <Name 'INC_WO...' at 0x7F7FDDBC64C8>, <Punctuation ',' at 0x7F7FDDBC6828>, <Name 'INCIDE...' at 0x7F7FDDBC68E8>, <Punctuation ',' at 0x7F7FDD500048>, <Name 'APPOIN...' at 0x7F7FDD500E88>, <Punctuation ',' at 0x7F7FDD42D528>, <Name 'WORK_R...' at 0x7F7FDD42D768>, <Punctuation ',' at 0x7F7FDC114AC8>, <Name 'WORK_O...' at 0x7F7FDC114768>, <Punctuation ',' at 0x7F7FDC114DC8>, <Name 'PRI_ID...' at 0x7F7FDC1146A8>, <Punctuation ',' at 0x7F7FDC114B28>, <Name 'PRI_KE...' at 0x7F7FDC114EE8>, <Punctuation ',' at 0x7F7FDDBC69A8>, <Name 'DQ_COM...' at 0x7F7FDDBC6A68>, <Keyword 'as' at 0x7F7FDDBC6B28>, <Symbol '"Data ...' at 0x7F7FDDBC6BE8>, <Punctuation ',' at 0x7F7FDDBC6F48>, <Name 'LOCATI...' at 0x7F7FDC11C048>, <Punctuation ',' at 0x7F7FDC11C948>, <Name 'APPOIN...' at 0x7F7FDC11CCA8>, <Punctuation ',' at 0x7F7FDC11CF48>, <Name 'EXC_1_...' at 0x7F7FDC11CA08>, <Keyword 'as' at 0x7F7FDC11CAC8>, <Symbol '"Exclu...' at 0x7F7FDC11CBE8>, <Punctuation ',' at 0x7F7FDC11C2E8>, <Name 'EXC_2_...' at 0x7F7FDC11C3A8>, <Keyword 'as' at 0x7F7FDC11CB28>, <Symbol '"Exclu...' at 0x7F7FDC11C4C8>, <Punctuation ',' at 0x7F7FDD509C48>, <Name 'EXC_3_...' at 0x7F7FDD509108>, <Keyword 'as' at 0x7F7FDD509A08>, <Symbol '"Exclu...' at 0x7F7FDD509FA8>, <Punctuation ',' at 0x7F7FDD509048>, <Name 'EXC_4_...' at 0x7F7FDD5092E8>, <Keyword 'as' at 0x7F7FDD509B88>, <Symbol '"Exclu...' at 0x7F7FDD509D68>, <Punctuation ',' at 0x7F7FDD5099A8>, <Name 'EXC_5_...' at 0x7F7FDD509828>, <Keyword 'as' at 0x7F7FDD4E6168>, <Symbol '"Exclu...' at 0x7F7FDD4E6BE8>, <Punctuation ',' at 0x7F7FDD4E6468>, <Name 'EXC_6_...' at 0x7F7FDD4E6408>, <Keyword 'as' at 0x7F7FDD4E6A08>, <Symbol '"Exclu...' at 0x7F7FDD4E6948>, <Punctuation ',' at 0x7F7FDD4E6828>, <Name 'EXC_7_...' at 0x7F7FDD4E62E8>, <Keyword 'as' at 0x7F7FDD4E6048>, <Symbol '"Exclu...' at 0x7F7FDD4E6CA8>, <Punctuation ',' at 0x7F7FDD4E60A8>, <Name 'EXC_8_...' at 0x7F7FDD4D0C48>, <Keyword 'as' at 0x7F7FDD4D0AC8>, <Symbol '"Exclu...' at 0x7F7FDD4D0E88>, <Punctuation ',' at 0x7F7FDD4D0708>, <Name 'EXC_9_...' at 0x7F7FDD4D0648>, <Keyword 'as' at 0x7F7FDD4D0528>, <Symbol '"Exclu...' at 0x7F7FDD4D0768>, <Punctuation ',' at 0x7F7FDD4D0888>, <Name 'EXC_10...' at 0x7F7FDD4D07C8>, <Keyword 'as' at 0x7F7FDD4D0348>, <Symbol '"Exclu...' at 0x7F7FDD4D00A8>, <Punctuation ',' at 0x7F7FDD4D0CA8>, <Name 'Exc_11...' at 0x7F7FDD4E74C8>, <Keyword 'as' at 0x7F7FDD4E7168>, <Symbol '"Exclu...' at 0x7F7FDD4E7CA8>, <Punctuation ',' at 0x7F7FDD4E7888>, <Name 'EXC_12...' at 0x7F7FDD4E7BE8>, <Keyword 'as' at 0x7F7FDD4E7FA8>, <Symbol '"Exclu...' at 0x7F7FDD4E7DC8>, <Punctuation ',' at 0x7F7FDD4E7108>, <Name 'Exc_13...' at 0x7F7FDD4E75E8>, <Keyword 'as' at 0x7F7FDD4E70A8>, <Symbol '"Exclu...' at 0x7F7FDD4E7828>, <Single '--Deep...' at 0x7F7FDD4E7F48>]}]